/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Cadastro */
#cadastro form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastro form input, button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.social-login {
    margin-top: 10px;
    text-align: center;
}

#googleLogin, button {
    margin: 10px 0;
    padding: 10px;
    color: white;
    background-color: #d4af37;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b8a32e;
}

/* Categorias e receitas */
#categorias ul {
    list-style: none;
    padding: 0;
}

#categorias ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

#categorias ul li a:hover {
    color: #d4af37;
}
